.sub-block {

    padding: 15px;
    background-color: rgba($color: #ccc, $alpha: 0.2);
    border-radius: 15px;
    margin: 10px 0;


    .article-icon {
        font-size: 5.0rem;
        color: #ccc;
    }
    
    .sub-block-info {
        margin-left: 20px;

        .sub-block-content {
            font-size: 2.0rem;
            font-weight: 300;
        }
    }
}

