.list-item-container {
    margin-top: 5px;

    .list-item {
        font-size: 1.2rem;
        font-weight: lighter;
        color: #999;
    }

    .list-item:not(:first-child)::before {
        content: "";
        width: 6px;
        height: 6px;
        display: inline-block;
        border-radius: 50%;
        background-color: rgba($color: #999, $alpha: 0.5);
        margin: 0 5px;
    }
}
